apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: davinci-sign-production
  labels:
    app: minio
    environment: production
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: default
